<h1>Tadpoles</h1>
<% @tadpoles.each do |tadpole| %>
  <p><a href="/tadpoles/<%= tadpole.id %>"><%= tadpole.name %></a></p>
<% end %>

    <nav>
      <a href="/ponds">Ponds</a> | 
      <a href="/frogs">Frogs</a> | 
      <a href="/tadpoles">Tadpoles</a>
    </nav>

