<!DOCTYPE html>
<html>
<head>
  <title>PollywogRanchRailsRuby003</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to Pollywog Ranch</h1>
   <nav>
      <a href="/ponds">Ponds</a> | 
      <a href="/frogs">Frogs</a> | 
      <a href="/tadpoles">Tadpoles</a>
    </nav>
<p>Please select from the choices above.</p>

<%= yield %>

</body>
</html>
